<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style/general.css" />
    <link rel="stylesheet" href="../css/style/home.css" />
    <link rel="stylesheet" href="../css/queries/queries.css">
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <title>Instagram &mdash; Home</title>
  </head>
  <body>

      <header class="container">
        <div class="main-header">
          <nav class="header-icons">
            <ul class="main-nav-list">
              <li class="main-nav-link">
                <a href="#"
                  ><ion-icon name="home-sharp" class="list-icon"></ion-icon>
                  </ion-icon>
                  <!-- for active part -->
                  <!-- <ion-icon name="home-outline"> -->
                </a>
              </li>

              <li class="main-nav-link">
                <a href="Explore.html"
                  ><ion-icon name="earth-outline" class="list-icon"></ion-icon>
                  <!-- for active part -->
                  <!-- <ion-icon name="earth-sharp"></ion-icon> -->
                </a>
              </li>
              <li class="main-nav-link">
                <a href="Add_post.html"
                  ><ion-icon
                    name="add-circle-outline"
                    class="list-icon"
                  ></ion-icon>
                  <!-- for active part -->
                  <!-- <ion-icon name="add-circle-sharp"></ion-icon> -->
                </a>
              </li>

              <li class="main-nav-link">
                <a href="Message.html"
                  ><ion-icon name="navigate-outline" class="list-icon"></ion-icon></ion-icon>
                  <!-- for active part -->
                  <!-- <ion-icon name="navigate-sharp"></ion-icon> -->
                </a>
              </li>

              <li class="main-nav-link">
                <a href="Profile.html"
                  ><ion-icon
                    name="person-circle-outline"
                    class="list-icon"
                  ></ion-icon>
                </a>
              </li>
            </ul>
          </nav>
          <a href="#"
            ><ion-icon name="logo-instagram" class="main-logo"></ion-icon
          ></a>
        </div>
      </header>

      <main class="container">
        <div class="main-story">
          <ul class="story">
            <li>
              <a href="./Story.html" class="story-user"
                ><img src="../img/profiling/ben.jpg" alt="picture of users"
              />
            <p>Ben</p></a>
            </li>
            <li>
              <a href="./Story.html" class="story-user"
                ><img src="../img/profiling/dave.jpg" alt="picture of users"
              />
            <p>Dave</p></a>
            </li>
            <li>
              <a href="./Story.html" class="story-user"
                ><img src="../img/profiling/hannah.jpg" alt="picture of users"
              />
            <p>hannah</p></a>
            </li>
            <li>
              <a href="./Story.html" class="story-user">
                <img src="../img/profiling/alice.jpg" alt="picture of users"
              /><p>Alice</p></a>
            </li>
            <!-- for story test -->
            <li>
              <a href="./Story.html" class="story-user"
                ><img src="../img/profiling/ben.jpg" alt="picture of users"
              />
            <p>Ben</p></a>
            </li><li>
              <a href="./Story.html" class="story-user"
                ><img src="../img/profiling/ben.jpg" alt="picture of users"
              />
            <p>Ben</p></a>
            </li><li>
              <a href="./Story.html" class="story-user"
                ><img src="../img/profiling/ben.jpg" alt="picture of users"
              />
           <p>Ben</p> </a>
            </li><li>
              <a href="./Story.html" class="story-user seen-story"
                ><img src="../img/profiling/ben.jpg" alt="picture of users"
              />
            <p>Ben</p></a>
            </li><li>
              <a href="./Story.html" class="story-user seen-story"
                ><img src="../img/profiling/ben.jpg" alt="picture of users"
              />
            </a><p>Ben</p>
            </li><li>
              <a href="./Story.html" class="story-user seen-story"
                ><img src="../img/profiling/ben.jpg" alt="picture of users"
              />
            <p>Ben</p></a>
            </li>
          </ul>
        </div>
    
        <section class="post-section">
          <figure class="post-user">
            <header class="header-post">
              <a href="./Page.html"
                ><img src="../img/profiling/alice.jpg" alt="picture of users"
              /></a>
              <div class="post-details">
                <a href="./Page.html" class="user-name-id">Alice</a>
                
                <span class="location"><ion-icon name="location-outline"></ion-icon><span> Germany</span></span>
              </div>

            </header>

            <img src="../img/post/post-1.jpg" alt="photo from users"  class="image-post"/>
            <div class="action-btn-post">
              <button ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 btn btn-like">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
              </svg>
              </button>
              <button><ion-icon name="chatbox-outline" class="btn"></ion-icon></button>
              <button ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 btn btn-bookmark">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
              </svg>
              </button>
            </div>

            <figcaption class="caption-post">
              <p class="like-number">78 Likes</p>
              <div class="top-comments">
                <p><span>Loki</span>🔥🔥</p>
                <p><span>Salar</span>Awsome food picture!</p>
              </div>
              <p class="date-post">Sep of 2023</p>
            </figcaption>
          </figure>

          <figure class="post-user">
            <header class="header-post">
              <a href="./Page.html"
                ><img src="../img/profiling/ben.jpg" alt="picture of users"
              /></a>
              <div class="post-details">
                <a href="./Page.html" class="user-name-id">Arture</a>
                <span class="location"><ion-icon name="location-outline"></ion-icon><span> Australia</span></span>
              </div>
              
            </header>

            <img src="../img/post/post-13.jpg" alt="photo from users" class="image-post"/>
            <div class="action-btn-post">
              <button><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 btn btn-like">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
              </svg>
              </button>
              <button><ion-icon name="chatbox-outline" class="btn"></ion-icon></button>
              <button><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 btn btn-bookmark">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
              </svg>
              </button>
            </div>
            <figcaption class="caption-post">
              <p class="like-number">78 Likes</p>
              <div class="top-comments">
                <p><span>Odin</span>🔥🔥Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt earum non neque dicta, mollitia officia doloremque, asperiores aperiam odio praesentium nesciunt veritatis labore. Atque id eveniet amet exercitationem deleniti adipisci?</p>
                <p><span>Salar</span>Awsome food picture! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe tenetur omnis hic dolorem debitis autem repellat vel numquam, praesentium illum! Id necessitatibus officia ratione eos nihil itaque, qui explicabo.</p>
              </div>
              <p class="date-post">Des of 2023</p>
            </figcaption>
          </figure>

          <figure class="post-user">
            <header class="header-post">
              <a href="#"
                ><img src="../img/profiling/steve.jpg" alt="picture of users"
              /></a>
              <div class="post-details">
                <a href="./Page.html" class="user-name-id">Steve</a>
                
                <span class="location"><ion-icon name="location-outline"></ion-icon><span> Mountain of Everest</span></span>
              </div>
            </header>

            <img src="../img/post/post-14.jpg" class="image-post"/>
            <div class="action-btn-post">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 btn-like btn">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
                
              </button>
              <button><ion-icon name="chatbox-outline" class="btn"></ion-icon></button>
              <button><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 btn btn-bookmark">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
              </svg>
              </button>
            </div>
            <figcaption class="caption-post">
              <p class="like-number">78 Likes</p>
              <div class="top-comments">
                <p><span>Amir</span>🔥🔥</p>
                <p><span>Salar</span>Nice picture Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cumque, maxime quibusdam dolor impedit velit, quaerat rerum ducimus corporis ullam ratione in alias minus sequi tempore aliquid. Harum, quis porro!</p>
              </div>
              <p class="date-post">Des of 2023</p>
            </figcaption>
          </figure>
        </section>
      </main>
  
  </body>
</html>
