<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style/general.css">
    <link rel="stylesheet" href="../css/style/message.css">
    <link rel="stylesheet" href="../css/queries/queries.css">

    <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
  <title>Instagram &mdash;Message</title>
  </head>
  <body>
    <header class="container">
      <div class="main-header">
        <nav class="header-icons">
          <ul class="main-nav-list">
            <li class="main-nav-link">
              <a href="Home.html"
                ><ion-icon name="home-outline" class="list-icon"></ion-icon>
                </ion-icon>
                <!-- for active part -->
                <!-- <ion-icon name="home-outline"> -->
              </a>
            </li>
  
            <li class="main-nav-link">
              <a href="Explore.html"
                ><ion-icon name="earth-outline" class="list-icon"></ion-icon></ion-icon>
                <!-- for active part -->
                <!-- <ion-icon name="earth-sharp" ></ion-icon> -->
              </a>
            </li>
            <li class="main-nav-link">
              <a href="Add_post.html"
                ><ion-icon name="add-circle-outline" class="list-icon"></ion-icon>
                <!-- for active part -->
                <!-- <ion-icon
                  name="add-circle-sharp"
                  
                ></ion-icon> -->
              </a>
            </li>
  
            <li class="main-nav-link">
              <a href="#"
                ><ion-icon name="navigate-sharp" class="list-icon"></ion-icon></ion-icon>
                <!-- for active part -->
                <!-- <ion-icon name="navigate-outline"></ion-icon> -->
              </a>
            </li>
  
            <li class="main-nav-link">
              <a href="Profile.html"
                ><ion-icon
                  name="person-circle-outline"
                  class="list-icon"
                ></ion-icon>
              </a>
            </li>
          </ul>
        </nav>
        <a href="#"
          ><ion-icon name="logo-instagram" class="main-logo"></ion-icon
        ></a>
      </div>
    </header>

    <section class="message-section">
      <div class="container list-contanct">
        
        <a href="./Chat.html" class="message-part">
          <img src="../img/profiling/john.jpg" alt="user profile">
          <div>
            <p class="message-user-id">John</p>
            <p class="top-message">Hello , ha u doing?</p>
          </div>
        </a>
      
        <a href="./Chat.html" class="message-part">
          <img src="../img/profiling/emilli.jpg" alt="user profile">
          <div>
            <p class="message-user-id">Emilli</p>
            <p class="top-message">What's up?🤗</p>
          </div>
        </a>
        
        <a href="./Chat.html" class="message-part">
          <img src="../img/profiling/mj.jpg" alt="user profile">
          <div>
            <p class="message-user-id">MJ</p>
            <p class="top-message">I'm waiting ...</p>
          </div>
        </a>
      </div>
    </section>


  </body>
</html>
