.slide {
  width: 100%;
}

.slide-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slide-thumb {
  grid-column: span 2;
}

.slide-thumb > span.done:after {
  content: "";
  display: block;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
}

.slide-thumb > span.active:after {
  content: "";
  display: block;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  transform: translateX(-100%);
  animation: thumb 5s forwards linear;
}

@keyframes thumb {
  to {
    transform: initial;
  }
}
